.footer {
  background-color: #E8E4EC;
  color: #000000;
  padding: 20px;
  text-align: center;
  margin-top: 30px;

  .footer-links {
    margin-bottom: 10px;

    a {
      color: #310d54;
      text-decoration: none;

      &:hover {
        color: #CB30A7; 
      }
    }
  }

  .dot {
    margin: 0 10px;
    font-weight: bold;
  }

  .copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    font-size: 1rem;
    color: #310d54;
  }
}
