@import "../style/variables";

.nav {
  background: $complementary2-lightest-2;
  height: 8rem;
  margin-bottom: 30px;
  .headerFlex {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .menu-div {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      font-size: large;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 0.4em;
      }
    }
  }
}
