@import "src/style/variables";

.competence-wrapper {
  display: flex;
  flex-wrap: wrap;
  // width: 60%;
  gap: 5px;

  .sc-digi-button-h .digi-button--variation-secondary.sc-digi-button {
    border-color: $complementary2-darker;
    color: $complementary2-darker;
    --COLOR--BACKGROUND--DEFAULT: none;
    cursor: default;

    &:hover {
      --COLOR--BACKGROUND--HOVER: none;
    }
  }
}
