@import "src/style/variables";


.search-tags .sc-digi-button-h .digi-button--variation-secondary.sc-digi-button{
  --COLOR--BACKGROUND--DEFAULT: none;
  --COLOR--BACKGROUND--HOVER: : none;
  cursor: default;
  border-color: $complementary2-darker;
  color: $complementary2-darker;
  
  &:hover{
    border-color: $complementary2-darker;
    color: $complementary2-darker;
  }
}

.searchResults{
  .keyWordsHeader{
    margin-top: 30px;

  }
  
  .keyWords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 30px;
  }
}

.sc-digi-loader-spinner-h{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper {
  margin-top: 15px;
  width: 572px;
  color:$complementary2-darker;

  .pagination .sc-digi-button-h .digi-button--variation-secondary.sc-digi-button {
      color:$complementary2-darkest;
      border: 1px solid $complementary2-darker;
  }
  svg {
      color:$complementary2-darker;
  }
}

@media screen and (min-width: 700px) {
  .eduSearchResults{
      .sc-digi-media-image{
          width: 500px!important;
      }
  }
}

@media screen and (min-width: 1000px) {
  .eduSearchResults{
      .sc-digi-media-image{
          width: 700px!important;
      }
  }
}


