/*VERSION-1*/
/*Main Profile colors*/
$primaryBase: #3576e1;
$primary-dark: #254f93;
$primary-light: #7eadfa;
$primary-lighter: #d4e1f6;

$secondary-base: #cb30a7;
$secondary-dark: #7b1e66;
$secondary-lighter: #d77ac1;
$secondary-lightest: #ebc7e2;

$white-base: #ffffff;
$white-dark: #fcfcfc;
$white-darker: #fafafa;
$white-darkest: #f8f8f8;
$white-darkest-2: #f4f4f4;
$white-darkest-3: #f1f1f1;

// /*Complementary Colors*/
$complementary1-base: #3e8925;
$complementary1-dark: #326821;
$complementary1-darker: #2d5221;
$complementary1-darkest: #233a1c;
$complementary1-light: #59a341;
$complementary1-lighter: #84b973;
$complementary1-lightest: #b0d7a4;
$complementary1-lightest-2: #e6f1e3;

$complementary2-base: #8d32e6;
$complementary2-dark: #7b2ec6;
$complementary2-darker: #6e419b;
$complementary2-darkest: #4b395c;
$complementary2-light: #b36ef6;
$complementary2-lighter: #c59dec;
$complementary2-lightest: #c9bcd7;
$complementary2-lightest-2: #e8e4ec;

// /* Marking Colors */
$CTA-base: #ff43e1;
$CTA--dark: #d731bc;
$CTA--light: #f97fde;
$CTA--lighter: #ffc8f3;

// /* LINK */
$link-base: #1616b2;

// /* Hover */
$hover-base: #424ae0;

// /* Visited */
$visited-base: #822998;

// /* Neutral shades*/
$greyscale-base: #d5d5d5;
$greyscale--dark: #cacaca;
$greyscale--darker: #bdbdbd;
$greyscale--darkest: #acacac;
$greyscale--darkest-2: #979797;
$greyscale--darkest-3: #757575;
$greyscale--darkest-4: #5c5c5c;
$greyscale--darkest-5: #333333;
$greyscale--darkest-6: #000000;
$greyscale--light: #dddddd;
$greyscale--lighter: #e4e4e4;
$greyscale-lightest: #e9e9e9;
$greyscale-lightest-2: #ededed;
$greyscale-lightest-3: #f1f1f1;
$greyscale-lightest-4: #f4f4f4;
$greyscale-lightest-5: #f8f8f8;
$greyscale--lightest-6: #ffffff;

// /* FUNCTIONAL COLORS */
// /*info*/
$info-base: #0000ff;
$info-lightest-3: #ddddff;

// /* sucess */
$success-base: #ffe200;
$success-lightest-3: #fffded;

// /*warning*/
$warning-base: #da0000;
$warning-lightest-2: #fadddd;

// /* danger */
$danger-base: #009322;
$danger-lightest-3: #ddf1e1;
