@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";

$font-path: "/node_modules/@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/assets/fonts/" !default;
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.scss";

@import "style/footer";
@import "style/navigation";
@import "style/searchResults";
@import "style/placeholder";
@import "style/home";
@import "style/searchEducationSummary";
@import "style/searchWorkForm";
@import "style/searchEducationForm";
@import "style/searchEducationResults";


@import "src/style/variables";

// $primaryBase: #345345;

:root {
  --digi--global--color--profile--blue--base: #114dae;
  --digi--global--color--profile--blue--dark: #254f93;
  --digi--global--color--profile--blue--light: #7eadfa;
  --digi--global--color--profile--blue--lighter: #d4e1f6;

  --digi--global--color--profile--green--base: #cb30a7;
  --digi--global--color--profile--green--dark: #7b1e66;
  --digi--global--color--profile--green--lighter: #d77ac1;
  --digi--global--color--profile--green--lightest: #ebc7e2;

  --digi--global--color--profile--white--base: #ffffff;
  --digi--global--color--profile--white--dark: #fcfcfc;
  --digi--global--color--profile--white--darker: #fafafa;
  --digi--global--color--profile--white--darkest: #f8f8f8;
  --digi--global--color--profile--white--darkest-2: #f4f4f4;
  --digi--global--color--profile--white--darkest-3: #f1f1f1;

  /*Complementary Colors*/
  --digi--global--color--complementary--turqouise--base: #3e8925;
  --digi--global--color--complementary--turqouise--dark: #326821;
  --digi--global--color--complementary--turqouise--darker: #2d5221;
  --digi--global--color--complementary--turqouise--darkest: #233a1c;
  --digi--global--color--complementary--turqouise--light: #59a341;
  --digi--global--color--complementary--turqouise--lighter: #84b973;
  --digi--global--color--complementary--turqouise--lightest: #b0d7a4;
  --digi--global--color--complementary--turqouise--lightest-2: #e6f1e3;

  --digi--global--color--complementary--cerise--base: #8d32e6;
  --digi--global--color--complementary--cerise--dark: #7b2ec6;
  --digi--global--color--complementary--cerise--darker: #6e419b;
  --digi--global--color--complementary--cerise--darkest: #4b395c;
  --digi--global--color--complementary--cerise--light: #b36ef6;
  --digi--global--color--complementary--cerise--lighter: #c59dec;
  --digi--global--color--complementary--cerise--lightest: #c9bcd7;
  --digi--global--color--complementary--cerise--lightest-2: #e8e4ec;

  /* Marking Colors */
  --digi--global--color--cta--green--base: #ff43e1;
  --digi--global--color--cta--green--dark: #d731bc;
  --digi--global--color--cta--green--light: #f97fde;
  --digi--global--color--cta--green--lighter: #ffc8f3;

  /* LINK */
  --digi--global--color--cta--link--base: #822998;

  /* Hover */
  --digi--global--color--cta--hover--base: #424ae0;

  /* Visited */
  --digi--global--color--cta--visited--base: #1616b2;

  /* Neutral shades*/
  --digi--global--color--neutral--grayscale--base: #d5d5d5;
  --digi--global--color--neutral--grayscale--dark: #cacaca;
  --digi--global--color--neutral--grayscale--darker: #bdbdbd;
  --digi--global--color--neutral--grayscale--darkest: #acacac;
  --digi--global--color--neutral--grayscale--darkest-2: #979797;
  --digi--global--color--neutral--grayscale--darkest-3: #757575;
  --digi--global--color--neutral--grayscale--darkest-4: #5c5c5c;
  --digi--global--color--neutral--grayscale--darkest-5: #333333;
  --digi--global--color--neutral--grayscale--darkest-6: #000000;
  --digi--global--color--neutral--grayscale--light: #dddddd;
  --digi--global--color--neutral--grayscale--lighter: #e4e4e4;
  --digi--global--color--neutral--grayscale--lightest: #e9e9e9;
  --digi--global--color--neutral--grayscale--lightest-2: #ededed;
  --digi--global--color--neutral--grayscale--lightest-3: #f1f1f1;
  --digi--global--color--neutral--grayscale--lightest-4: #f4f4f4;
  --digi--global--color--neutral--grayscale--lightest-5: #f8f8f8;
  --digi--global--color--neutral--grayscale--lightest-6: #ffffff;

  /* FUNCTIONAL COLORS */
  /*info*/
  --digi--global--color--function--info--base: #0000ff;
  --digi--global--color--function--info--lightest-3: #ddddff;

  /* sucess */
  --digi--global--color--function--success--base: #ffe200;
  --digi--global--color--function--success--lightest-3: #fffded;

  /*warning*/
  --digi--global--color--function--warning--base: #da0000;
  --digi--global--color--function--warning--lightest-2: #fadddd;

  /* danger */
  --digi--global--color--function--danger--base: #009322;
  --digi--global--color--function--danger--lightest-3: #ddf1e1;
}

body {
  padding: 0;
  margin: 0;
  background-color: $greyscale-lightest-5;
  position: relative;
}

main {
  min-height: 100vh;
}
